<main>
  <section> 
    <form (ngSubmit)="onSubmit()">
      <h2>Login With OTP</h2>
      <label for="email_mobile">Enter your Email id/Mobile</label>
      <input id="email_mobile" type="text"  [disabled]="otpSectionVisible" placeholder="Enter Email id/Mobile"/>
      <button type="submit" >Send OTP</button>
      <!-- <a>Didn't get? Resend OTP</a> -->
    </form>
  <!-- OTP Input Section -->
   
    <div [ngClass]="{'slide-down': otpSectionVisible}" class="otp-div" >
      <label for="otp" class="block text-sm font-medium text-gray-700 mt-5">
        Enter OTP
      </label>
      <input id="otp" type="text" [(ngModel)]="otp" name="otp" required class="border p-2 rounded"/>
      <!-- Submit OTP Button -->
      <button (click)="submitOtp()" class="mt-4 bg-gradient-to-r from-blue-500 to-green-500 text-white py-2 px-4 rounded-md">
        Submit OTP
      </button>
    </div>
   
  
  </section>
</main>